[Desktop Entry]
Name=Fish Fillets
Comment=Fish Fillets - New Generation
Exec=fillets
Icon=fillets-ng.png
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Game;LogicGame;
# vi: encoding=utf-8
